@page
@model AboutModel
@{
    ViewData["Title"] = "About Us";
}
<div class="container">
    <h2 class="text-center">@ViewData["Title"]</h2>
    <h4><strong>Our Mission</strong></h4><br />
    <p style="font-size:18px;"><strong>
        Howdy!<br /><br />Moving can be stressful. Let's rephrase that.. Moving IS stressful! We, here at Howdy Neighbor, realize this. And on top of all of the stresses we face during this difficult time, there are so many factors that
        often go forgotten during this process that can have a serious impact on your overall moving experience. Some of these factors include the local school district, local crime data, nearby
        essential locations, area age demographics, etc. And then after you have decided on a new home to move in to, the physical moving process begins, but the stress
        continues. You must remember to call the electric company, set up renter's or homeowner's insurance, switch over the cable/internet service, etc. The list
        goes on. <br /><br />Well, this is where we, here at Howdy Neighbor, come in. We aim to provide virtual checklists for anyone planning a move. The first of these checklists
        is designed for anyone still searching for a new home. The second of these checklist is designed for anyone who is preparing for their move. As you work your way through these
        checklists, you will gain the peace of mind that you know all there is to know about the home you are moving into, as well as knowing that you won't forget any
        important pre move-in tasks.<br /><br />If our website helps alleviate just a tiny bit of the stress that goes along with moving, then our mission has been a success! <br /><br />
        Thanks for visiting and happy moving!</strong>
    </p>
</div>