@page
@model HowdyNeighbor.Pages.AgeDemographics_LoggedInModel
@{
    ViewData["Title"] = "Age Demographics";
}
@{
    Layout = "_Layout_LoggedIn";
}

<h3 class="text-center">Area Age Demographics for:<br /><strong>@ViewData["searchString"]</strong></h3>

<div class="text-center">
    <h5>How would you rate these findings?</h5>
    <form method="post" asp-page-handler="SearchList_LoggedIn">
        <select name="ageImportance">
            <option value="0">No Rating</option>
            <option value="1">1 (Poor)</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5 (Great)</option>
        </select>&nbsp &nbsp
        <input type="submit" value="Save rating and return to checklist">
    </form>
</div><br /><div class="text-center">
    <p>The average age for this area: 35 years old</p><br />
    <div id="pieChart"></div>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
    // Load google charts
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    // Draw the chart and set the chart values
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['AgeGroup', 'PopulationPerct'],
            ['Under 18', 27.9],
            ['18-24', 8.4],
            ['25-44', 31.7],
            ['45-64', 22.6],
            ['65 and Older', 9.4],
        ]);

        // Optional; add a title and set the width and height of the chart
        var options = { 'title': 'Area Age Demographics', 'width': 550, 'height': 400 };

        // Display the chart inside the <div> element with id="piechart"
        var chart = new google.visualization.PieChart(document.getElementById('pieChart'));
        chart.draw(data, options);
    }
</script>
<br /><br />




