@page
@model HowdyNeighbor.Pages.CrimeDataModel
@{
    ViewData["Title"] = "Crime Data";
}
<h2>@ViewData["Title"]</h2>

<h3 class="text-center">Local Crime Data for: <br /><br /><strong>@ViewData["searchString"]</strong></h3>
