@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<h2>@ViewData["Title"]</h2>

<p>Welcome to Howdy Neighbor, your #1 moving resource.</p>
<p>To get started, you can create a moving checklist using one of our default templates, or you can create a custom checklist of your own.</p>
<p>To save a checklist, sign up with an account of your choosing (Facebook, Google, etc.)</p>