@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<div class="text-center">
<h2><strong>Moving is stressful... Let Howdy Neighbor help!</strong></h2>
<h3><strong>Let's Get Started!</strong></h3>
<p>Login or create an account <a href="Login">here</a> to save new checklists or to view saved checklists</p>
</div><div></div>
<div class="row">
    <div class="col-sm-6">
        <h3>Still Searching?</h3>
        <p>Enter an address below to start your new home search checklist</p>
        <form method="post" asp-page-handler="SearchList">
            <p>
                Address: <input type="text" name="searchString" />
                <input type="submit" value="Search" />
            </p>
        </form>
    </div>
    <div class="col-sm-6">
        <h3>Moving In?</h3>
        <p>If you are ready to begin your move-in reminder checklist, <br />continue <a asp-page="/MovingList">here</a></p>

    </div>
</div>