@page
@model HowdyNeighbor.Pages.ListModel
@{
    ViewData["Title"] = "My List";
}
<h2>@ViewData["Title"]</h2>

<p>View a checklist that you have saved.</p>

<form method="post">
    <table class="table">
        <tr>
            <th>Action</th>
            <th>Status</th>
            <th>Date</th>
            <th>Update</th>
        </tr>
        @for (var i = 0; i < ListModel.ChecklistTasks.Count(); i++)
        {
            <tr>
                <td>@ListModel.ChecklistTasks[i].action</td>
                <td>@ListModel.ChecklistTasks[i].status</td>
                <td>@ListModel.ChecklistTasks[i].date.ToShortDateString()</td>
                <td><input type="checkbox" /></td>
            </tr>
        }
    </table>
    <button>Update</button>
</form>