@page
@model HowdyNeighbor.Pages.ListModel
@{
    ViewData["Title"] = "My List";
}
<h2>@ViewData["Title"]</h2>

<p>View a checklist that you have saved.</p>

/* These scripts are delivered through a CDN, although we can host the files within our application as an alternative. */
<script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-database.js"></script>