@page
@model HowdyNeighbor.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}
<h2>@ViewData["Title"]</h2>

<p>Log in to Howdy Neighbor with an account of your choosing (Facebook, Google, etc.) to save checklists.</p>