@page
@model SavedChecklistModel
@{
    ViewData["Title"] = "Saved Checklists";
}

<style>
    table {
        border: 1px solid slategray;
        background-color: white;
    }

    td {
        border-top: 1px solid slategray;
        border-bottom: 1px solid slategray;
        width: 360px;
    }
</style>
<div class="container">
    <h2 class="text-center">@ViewData["Title"]</h2>
    <div class="row">
        <div class="col-sm-6">
            <h4 class="text-center" style="text-decoration:underline">Home Search Checklists</h4> 
        </div>
    </div>
</div>
