@page
@model HowdyNeighbor.Pages.SchoolDistrict_LoggedInModel
@{
    ViewData["Title"] = "School District";
}
@{
    Layout = "_Layout_LoggedIn";
}
<h3 class="text-center">Local School District Information for:<br /><strong>@ViewData["searchString"]</strong></h3>

<div class="text-center">
    <h5>How would you rate these findings?</h5>
    <form method="post" asp-page-handler="SearchList_LoggedIn">
        <select name="schoolImportance">
            <option value="0">No Rating</option>
            <option value="1">1 (Poor)</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5 (Great)</option>
        </select>&nbsp &nbsp
        <input type="submit" value="Save rating and return to checklist">
    </form>
</div>

<br /><br />
<form method="post" class="my-border-top table-background-color">
    <table class="table my-border">
        <tr>
            <th class="my-border-none-left">School Name</th>
            <th class="my-border">Address</th>
            <th class="my-border-none-right">Phone Number</th>
        </tr>
        @for (var i = 0; i < SchoolDistrict_LoggedInModel.schoolList.Count(); i++)
        {
            <tr>
                <td class="my-border">@SchoolDistrict_LoggedInModel.schoolList[i].SchoolName</td>
                <td class="my-border-none-top">@SchoolDistrict_LoggedInModel.schoolList[i].SchoolAddress</td>
                <td class="my-border">@SchoolDistrict_LoggedInModel.schoolList[i].SchoolPhoneNumber</td>
            </tr>
        }
    </table>
</form>


