@page
@model HowdyNeighbor.Pages.SchoolDistrictModel
@{
    ViewData["Title"] = "School District";
}

<h3 class="text-center">Local School District Information for: <br /><br /><strong>@ViewData["searchString"]</strong></h3>

