@page
@model HowdyNeighbor.Pages.SearchListModel
@{
    ViewData["Title"] = "SearchList";
}
<div>
    <h3 class="text-center text-shrink">Let's begin your new checklist for: <strong>@ViewData["searchString"]</strong></h3>
</div>
<form method="post" class="my-border-top table-background-color">
    <table class="table my-border">
        <tr>
            <th class="my-border-none-left">Completed</th>
            <th class="my-border">Task</th>
            <th class="my-border">Information</th>
            <th class="my-border-none-right">My Ranking</th>
        </tr>
        <tr>
            <td class="my-border-bottom my-border-right">
                @if (ViewData["schoolImportance"] is null)
                {<input type="checkbox" />}
                else
                {<input type="checkbox" checked />}
            </td>
            <td class="my-border-none-top">Local School District Information</td>
            <td class="my-border-none-top"><a href="SchoolDistrict">View Data</a></td>
            <td class="my-border-bottom my-border-left">
                @if (ViewData["schoolImportance"] as string == "0" || ViewData["schoolImportance"] is null)
                {<span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["schoolImportance"] as string == "1")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["schoolImportance"] as string == "2")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["schoolImportance"] as string == "3")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["schoolImportance"] as string == "4")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["schoolImportance"] as string == "5")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>}
            </td>
        </tr>
        <tr>
            <td class="my-border-bottom my-border-right">
                @if (ViewData["crimeImportance"] is null)
                {<input type="checkbox" />}
                else
                {<input type="checkbox" checked />}
            </td>
            <td class="my-border-none-top">Local Crime Data</td>
            <td class="my-border-none-top"><a href="CrimeData">View Data</a></td>
            <td class="my-border-bottom my-border-left">
                @if (ViewData["crimeImportance"] as string == "0" || ViewData["crimeImportance"] is null)
                {<span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["crimeImportance"] as string == "1")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["crimeImportance"] as string == "2")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["crimeImportance"] as string == "3")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["crimeImportance"] as string == "4")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["crimeImportance"] as string == "5")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>}
            </td>
        </tr>
        <tr>
            <td class="my-border-bottom my-border-right">
                @if (ViewData["trafficImportance"] is null)
                {<input type="checkbox" />}
                else
                {<input type="checkbox" checked />}
            </td>
            <td class="my-border-none-top">Local Traffic Density</td>
            <td class="my-border-none-top"><a href="TrafficDensity">View Data</a></td>
            <td class="my-border-bottom my-border-left">
                @if (ViewData["trafficImportance"] as string == "0" || ViewData["trafficImportance"] is null)
                {<span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["trafficImportance"] as string == "1")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["trafficImportance"] as string == "2")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["trafficImportance"] as string == "3")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["trafficImportance"] as string == "4")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["trafficImportance"] as string == "5")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>}
            </td>
        </tr>
        <tr>
            <td>
                @if (ViewData["ageImportance"] is null)
                {<input type="checkbox" />}
                else
                {<input type="checkbox" checked />}
            </td>
            <td class="my-border-left my-border-right">Area Age Demographics</td>
            <td class="my-border-left my-border-right"><a href="AgeDemographics">View Data</a></td>
            <td>
                @if (ViewData["ageImportance"] as string == "0" || ViewData["ageImportance"] is null)
                {<span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["ageImportance"] as string == "1")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["ageImportance"] as string == "2")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["ageImportance"] as string == "3")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["ageImportance"] as string == "4")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["ageImportance"] as string == "5")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>}
            </td>
        </tr>
    </table>
</form>
<br />
<div>
<iframe class="iframe-style"
        frameborder="0"
        src='@string.Format("https://www.google.com/maps/embed/v1/search?q={0}&key=AIzaSyB1L7KTY2EoVvuYdz2kWzl155F2L3FX08w", @ViewData["searchString"])'
        allowfullscreen></iframe>
</div>