@page
@model HowdyNeighbor.Pages.SearchListModel
@{
    ViewData["Title"] = "SearchList";
}
<div class="row">
    <div class="col-sm-6">
        <h3 class="text-center">Begin your new checklist for:<br /><br /><br /><strong>@ViewData["searchString"]</strong></h3>
    </div>
    <div class="col-sm-6">
        <iframe width="350"
                height="250"
                frameborder="0"
                src='@string.Format("https://www.google.com/maps/embed/v1/search?q={0}&key=AIzaSyB1L7KTY2EoVvuYdz2kWzl155F2L3FX08w", @ViewData["searchString"])'
                allowfullscreen></iframe>
    </div>
</div>
<form method="post">
    <table class="table">
        <tr>
            <th>Completed</th>
            <th>Task</th>
            <th>Information</th>
            <th>Ranking (1-5)</th>
        </tr>
        <tr>
            <td>
                @if (ViewData["schoolImportance"] is null)
                {<input type="checkbox" />}
                else
                {<input type="checkbox" checked />}
            </td>
            <td>Local School District Information</td>
            <td><a href="SchoolDistrict">View Data</a></td>
            <td>
                @if (ViewData["schoolImportance"] as string == "0" || ViewData["schoolImportance"] is null)
                {<span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["schoolImportance"] as string == "1")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["schoolImportance"] as string == "2")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["schoolImportance"] as string == "3")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["schoolImportance"] as string == "4")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["schoolImportance"] as string == "5")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>}
            </td>
        </tr>
        <tr>
            <td>
                @if (ViewData["crimeImportance"] is null)
                {<input type="checkbox" />}
                else
                {<input type="checkbox" checked/>}
            </td>
            <td>Local Crime Data</td>
            <td><a href="CrimeData">View Data</a></td>
            <td>
                @if (ViewData["crimeImportance"] as string == "0" || ViewData["crimeImportance"] is null)
                {<span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["crimeImportance"] as string == "1")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["crimeImportance"] as string == "2")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["crimeImportance"] as string == "3")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["crimeImportance"] as string == "4")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["crimeImportance"] as string == "5")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>}
            </td>
        </tr>
        <tr>
            <td>
                @if (ViewData["trafficImportance"] is null)
                {<input type="checkbox" />}
                else
                {<input type="checkbox" checked />}
            </td>
            <td>Local Traffic Density</td>
            <td><a href="TrafficDensity">View Data</a></td>
            <td>
                @if (ViewData["trafficImportance"] as string == "0" || ViewData["trafficImportance"] is null)
                {<span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["trafficImportance"] as string == "1")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["trafficImportance"] as string == "2")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["trafficImportance"] as string == "3")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["trafficImportance"] as string == "4")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["trafficImportance"] as string == "5")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>}
            </td>
        </tr>
        <tr>
            <td>
                @if (ViewData["ageImportance"] is null)
                {<input type="checkbox" />}
                else
                {<input type="checkbox" checked />}
            </td>
            <td>Area Age Demographics</td>
            <td><a href="AgeDemographics">View Data</a></td>
            <td>
                @if (ViewData["ageImportance"] as string == "0" || ViewData["ageImportance"] is null)
                {<span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["ageImportance"] as string == "1")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["ageImportance"] as string == "2")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["ageImportance"] as string == "3")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["ageImportance"] as string == "4")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["ageImportance"] as string == "5")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>}
            </td>
        </tr>
    </table>
    <button>Save</button>
</form>
