@page
@using Microsoft.AspNetCore.Identity
@using HowdyNeighbor.Areas.Identity.Data
@inject SignInManager<HowdyNeighborUser> SignInManager
@model HowdyNeighbor.Pages.SearchListModel
@{
    ViewData["Title"] = "SearchList";
}
<style>
    table {
        box-shadow: 2px 2px 1px 0px rgba(50, 50, 50, 0.25);
    }
    td {
        padding: 10px;
    }
</style>
<div style="padding-bottom: 4rem;">
    <h3 class="text-center text-shrink">Let's begin your new checklist for: <strong>@ViewData["searchString"]</strong></h3>
</div>
<form method="post" class="my-border-top table-background-color">
    <table class="table my-border">
        <tr>
            <th class="my-border-none-left">Completed</th>
            <th class="my-border">Moving Factor</th>
            <th class="my-border">Information</th>
            <th class="my-border-none-right">My Ranking</th>
        </tr>
        <tr>
            <td class="my-border-bottom my-border-right">
                @if (ViewData["schoolImportance"] is null)
                {<input type="checkbox" />}
                else
                {<input type="checkbox" checked />}
            </td>
            <td class="my-border-none-top">Local School District Information</td>
            <td class="my-border-none-top"><a href="SchoolDistrict">View Data</a></td>
            <td class="my-border-bottom my-border-left">
                @if (ViewData["schoolImportance"] as string == "0" || ViewData["schoolImportance"] is null)
                {<span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["schoolImportance"] as string == "1")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["schoolImportance"] as string == "2")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["schoolImportance"] as string == "3")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["schoolImportance"] as string == "4")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["schoolImportance"] as string == "5")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>}
            </td>
        </tr>
        <tr>
            <td class="my-border-bottom my-border-right">
                @if (ViewData["crimeImportance"] is null)
                {<input type="checkbox" />}
                else
                {<input type="checkbox" checked />}
            </td>
            <td class="my-border-none-top">Local Crime Data</td>
            <td class="my-border-none-top"><a href="CrimeData">View Data</a></td>
            <td class="my-border-bottom my-border-left">
                @if (ViewData["crimeImportance"] as string == "0" || ViewData["crimeImportance"] is null)
                {<span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["crimeImportance"] as string == "1")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["crimeImportance"] as string == "2")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["crimeImportance"] as string == "3")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["crimeImportance"] as string == "4")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["crimeImportance"] as string == "5")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>}
            </td>
        </tr>
        <tr>
            <td class="my-border-bottom my-border-right">
                @if (ViewData["trafficImportance"] is null)
                {<input type="checkbox" />}
                else
                {<input type="checkbox" checked />}
            </td>
            <td class="my-border-none-top">Local Traffic Density</td>
            <td class="my-border-none-top"><a href="TrafficDensity">View Data</a></td>
            <td class="my-border-bottom my-border-left">
                @if (ViewData["trafficImportance"] as string == "0" || ViewData["trafficImportance"] is null)
                {<span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["trafficImportance"] as string == "1")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["trafficImportance"] as string == "2")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["trafficImportance"] as string == "3")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["trafficImportance"] as string == "4")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["trafficImportance"] as string == "5")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>}
            </td>
        </tr>
        <tr>
            <td class="my-border-bottom my-border-right">
                @if (ViewData["ageImportance"] is null)
                {<input type="checkbox" />}
                else
                {<input type="checkbox" checked />}
            </td>
            <td class="my-border-none-top">Area Age Demographics</td>
            <td class="my-border-none-top"><a href="AgeDemographics">View Data</a></td>
            <td class="my-border-bottom my-border-left">
                @if (ViewData["ageImportance"] as string == "0" || ViewData["ageImportance"] is null)
                {<span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["ageImportance"] as string == "1")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["ageImportance"] as string == "2")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["ageImportance"] as string == "3")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["ageImportance"] as string == "4")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["ageImportance"] as string == "5")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>}
            </td>
        </tr>
        <tr>
            <td class="my-border-bottom my-border-right">
                @if (ViewData["pointsOfInterestImportance"] is null)
                {<input type="checkbox" />}
                else
                {<input type="checkbox" checked />}
            </td>
            <td class="my-border-none-top">Nearby Points of Interest</td>
            <td class="my-border-none-top"><a href="PointsOfInterest">View Map</a></td>
            <td class="my-border-bottom my-border-left">
                @if (ViewData["pointsOfInterestImportance"] as string == "0" || ViewData["pointsOfInterestImportance"] is null)
                {<span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["pointsOfInterestImportance"] as string == "1")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["pointsOfInterestImportance"] as string == "2")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["pointsOfInterestImportance"] as string == "3")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["pointsOfInterestImportance"] as string == "4")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["pointsOfInterestImportance"] as string == "5")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>}
            </td>
        </tr>
        <tr>
            <td class="my-border-bottom my-border-right">
                @if (ViewData["internetProvidersImportance"] is null)
                {<input type="checkbox" />}
                else
                {<input type="checkbox" checked />}
            </td>
            <td class="my-border-none-top">Local Internet Providers</td>
            <td class="my-border-none-top"><a href="InternetProviders">View Data</a></td>
            <td class="my-border-bottom my-border-left">
                @if (ViewData["internetProvidersImportance"] as string == "0" || ViewData["internetProvidersImportance"] is null)
                {<span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["internetProvidersImportance"] as string == "1")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["internetProvidersImportance"] as string == "2")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["internetProvidersImportance"] as string == "3")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["internetProvidersImportance"] as string == "4")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["internetProvidersImportance"] as string == "5")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>}
            </td>
        </tr>
        <tr>
            <td>
                @if (ViewData["costOfLivingImportance"] is null)
                {<input type="checkbox" />}
                else
                {<input type="checkbox" checked />}
            </td>
            <td class="my-border-left my-border-right">Cost of Living</td>
            <td class="my-border-left my-border-right"><a href="CostOfLiving">View Data</a></td>
            <td class="my-border-left">
                @if (ViewData["costOfLivingImportance"] as string == "0" || ViewData["costOfLivingImportance"] is null)
                {<span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["costOfLivingImportance"] as string == "1")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["costOfLivingImportance"] as string == "2")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["costOfLivingImportance"] as string == "3")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["costOfLivingImportance"] as string == "4")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>}
                @if (ViewData["costOfLivingImportance"] as string == "5")
                {<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>}
            </td>
        </tr>
    </table>
    @if (SignInManager.IsSignedIn(User))
    {
        <button style="float:right;" asp-page="/Index" id="saveSearchListButton" class="btn btn-primary">Save Checklist</button>
    }
</form>

<br />