@page
@model HowdyNeighbor.Pages.SearchListModel
@{
    ViewData["Title"] = "SearchList";
}
    <div class="row">
        <div class="col-sm-6">
            <h3 class="text-center">Begin your new checklist for:<br /><br /><br /><strong>@ViewData["searchString"]</strong></h3>
        </div>
        <div class="col-sm-6">
            <iframe width="350"
                    height="250"
                    frameborder="0"
                    src='@string.Format("https://www.google.com/maps/embed/v1/search?q={0}&key=AIzaSyB1L7KTY2EoVvuYdz2kWzl155F2L3FX08w", @ViewData["searchString"])'
                    allowfullscreen></iframe>
        </div>
    </div>
        <form method="post">
            <table class="table">
                <tr>
                    <th>Completed</th>
                    <th>Task</th>
                    <th>Information</th>
                    <th>Ranking (1-5)</th>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>Local School District Information</td>
                    <td><a href="SchoolDistrict">View Data</a></td>
                    <td>
                        <select name="importance">
                            <option value="1">1 (Poor)</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5 (Great)</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>Local Crime Data</td>
                    <td><a href="CrimeData">View Data</a></td>
                    <td>
                        <select name="importance">
                            <option value="1">1 (Poor)</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5 (Great)</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>Local Traffic Density</td>
                    <td><a href="TrafficDensity">View Data</a></td>
                    <td>
                        <select name="ranking">
                            <option value="1">1 (Poor)</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5 (Great)</option>
                        </select>
                    </td>
                </tr>
            </table>
            <button>Update</button>
        </form>
        <p>Explore features of the Howdy Neighbor site.</p>
