@page
@model HowdyNeighbor.Pages.TrafficDensityModel
@{
    ViewData["Title"] = "Traffic Density";
}

<h3 class="text-center">Traffic Density for: <br /><br /><strong>@ViewData["searchString"]</strong></h3>

