@media screen and (min-width: 720px) {
    #logo {
        content: url("../images/HowdyNeighbor.png");
    }
}
@media screen and (max-width: 720px) {
    #logo {
        content: url("../images/HowdyNeighbor_Resized.png");
    }
}

#nav-background {
    background-color: #CADCE6;
}

.checked {
    color: orange;
}